* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}


h1 {
  text-align: center;
  border-bottom: 3px solid white;
}

h2 {
  text-align:center;
}

#header { /* Stay woke title */
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 30px;
  color: white;
}

#date {
  font-size: 20px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

#links {
  font-size: 20px;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: white;
  text-align: center;
}


body {
  color: white;
}

a {
  color: #333;
  text-decoration: none;
}
